<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd ">

    <!-- 启用 springmvc 注解 -->
    <mvc:annotation-driven/>
    <!-- 使用默认的 handler -->
    <mvc:default-servlet-handler/>
    <!-- 使用 jsp 视图解析器
    <mvc:view-resolvers>
        <mvc:jsp/>
    </mvc:view-resolvers>-->
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value=""></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*/list" />
            <mvc:mapping path="/*/delete" />
            <mvc:mapping path="/*/update" />
            <mvc:mapping path="/*/save" />
            <mvc:exclude-mapping path="/albumController/*" />
            <mvc:exclude-mapping path="/messageController/*" />
            <mvc:exclude-mapping path="/messageController/*" />
            <mvc:exclude-mapping path="/userController/*" />
            <mvc:exclude-mapping path="/whisperController/*" />
            <bean class="org.blog.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8" />
        <!-- 最大内存大小 -->
        <property name="maxInMemorySize" value="10240" />
        <!-- 最大文件大小，-1为不限制大小 -->
        <property name="maxUploadSize" value="-1" />
    </bean>
</beans>