<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.dao.FileDao">

    <insert id="save">
      insert into file values
      (#{id},#{fileName},#{filePath},#{fileType},#{createDate},#{createBy});
    </insert>
    <select id="findByFileName" resultType="File">
        SELECT * FROM file
        <if test="fileName!=null">
            where file_name = #{fileName}
        </if>
        ;
    </select>
    <select id="findFile" resultType="File">
        SELECT * FROM file ;
    </select>
    <select id="count" resultType="Integer">
        SELECT count(1) FROM file ;
    </select>
</mapper>