<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blog.dao.UserDao">
    <select id="dataCount" resultType="Integer">
        SELECT count(1) FROM user ;
    </select>

    <select id="getByAccount" resultType="User">
      SELECT * FROM user where account = #{account};
    </select>

    <select id="getById" resultType="User">
      SELECT * FROM user where id = #{id};
    </select>

    <select id="getByAccountAndPassword" resultType="User">
      SELECT * FROM user where account = #{account} and password = #{password};
    </select>

    <select id="getListUser" resultType="User">
      SELECT * FROM user limit #{x},#{y};
    </select>

    <update id="update">
        update user
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="account!=null">
                account = #{account},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="pic!=null">
                pic=#{pic},
            </if>
            <if test="work!=null">
                work=#{work},
            </if>
            <if test="classCode!=null">
                class_ode=#{classCode},
            </if>

            <if test="wx!=null">
                wx=#{wx},
            </if>
            <if test="qq!=null">
                qq=#{qq},
            </if>
            <if test="hobby!=null">
                hobby=#{hobby},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
        </set>
        where id = #{id};
    </update>

    <insert id="save">
      insert into user values
      (#{id},#{username},#{account},#{password},#{sex},#{age},#{pic},#{work},#{classCode},#{wx},#{qq},#{hobby},#{phone});
    </insert>

    <delete id="delete">
        delete from user where id in (
        <foreach item="item" separator="," collection="array">
            #{item}
        </foreach>
        );
    </delete>

</mapper>